<h1 mat-dialog-title class="mat-dialog-title">Edit Validity</h1>
<div mat-dialog-content class="mat-dialog-content">
  <div>
    <!-- <div class="input-row">
        <h6>Validity</h6>
        <input type="date" placeholder="Validity" [(ngModel)]="data.endDate" />
        <!-- <mat-icon matSuffix>calendar_today</mat-icon> -->
    <!-- </div> -->
    <mat-form-field appearance="outline">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="data.endDate">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>    
  </div>
</div> 
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <!-- <button mat-button>Ok</button> -->
  <button mat-button [disabled]="isSaving" (click)="submitData()">
    <mat-spinner *ngIf="isSaving" diameter="25"></mat-spinner>
    <span *ngIf="!isSaving">Ok</span>
   </button>
</div>
