<h1 mat-dialog-title class="mat-dialog-title">Edit Tenant</h1>
<div mat-dialog-content class="mat-dialog-content">
  <div>
    <div class="input-row adress">
      <mat-form-field appearance="outline">
        <mat-label>Company Name</mat-label>
        <input matInput placeholder="Company Name" [(ngModel)]="data.name" [disabled]="isDisabled" />
        <mat-icon matSuffix>perm_identity</mat-icon>
      </mat-form-field>
      
    </div>
    <div class="input-row adress">
      <mat-form-field appearance="outline">
        <mat-label>Company Description</mat-label>
        <textarea matInput placeholder="Company Description" [(ngModel)]="data.companyDescription">
          </textarea>
        <mat-icon matSuffix>business</mat-icon>
      </mat-form-field>
    </div>

    <div class="input-row adress">
      <mat-form-field appearance="outline">
        <mat-label>Footer text</mat-label>
        <textarea matInput placeholder="Footer text" [(ngModel)]="data.footerText" required></textarea>
        <mat-icon matSuffix>business</mat-icon>
      </mat-form-field>
    </div>
  </div>
</div> 
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <!-- <button mat-button>Ok</button> -->
  <button mat-button [disabled]="isSaving" (click)="submitData()">
    <mat-spinner *ngIf="isSaving" diameter="25"></mat-spinner>
    <span *ngIf="!isSaving">Ok</span>
   </button>
</div>
