
  <h1 mat-dialog-title class="mat-dialog-title">Add admin</h1>
  <div mat-dialog-content class="mat-dialog-content">
    <div class="input-row">
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First Name" [(ngModel)]="adminData.first_name" required />
        <mat-icon matSuffix>perm_identity</mat-icon>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="First Name" [(ngModel)]="adminData.last_name" required />
        <mat-icon matSuffix>perm_identity</mat-icon>
      </mat-form-field>
    </div>

    <div class="input-row">
      <mat-form-field appearance="outline">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" [(ngModel)]="adminData.email" required>
      </mat-form-field>
      
      <mat-form-field appearance="outline">
        <mat-label>Enter your mobile number</mat-label>
        <input matInput placeholder="14******42" [(ngModel)]="adminData.mobile" required>
      </mat-form-field>

    </div>
    
    
    <div class="input-row">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="First Name" [(ngModel)]="adminData.username" required />
        <mat-icon matSuffix>perm_identity</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="adminData.password" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>

  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <!-- <button mat-button (click)="submitData()">Ok</button> -->
    <button mat-button [disabled]="isSaving" (click)="submitForm()">
      <mat-spinner *ngIf="isSaving" diameter="25"></mat-spinner>
      <span *ngIf="!isSaving">Ok</span>
     </button>
  </div>
