<div class="searchbar-container">
  <h1>Tenant Overview</h1>
  <div class="stats-container">
    <h3>Number of tenants: {{ users$?.length }}</h3>
  </div>

  <div class="search-items-wrapper">
    <mat-card-content class="modified-mc-content">
      <mat-expansion-panel id="filter-form">
        <mat-expansion-panel-header>
          <mat-icon>filter_list</mat-icon> Filter Tenants
        </mat-expansion-panel-header>
        <h3 style="font-weight: 600">Filter by</h3>
        <div class="filter-option">
          <p>Company</p>
          <mat-checkbox
            color="primary"
            [(ngModel)]="companyInput"
            (click)="onCheckboxClicked('company')"
          ></mat-checkbox>
        </div>
        <mat-form-field *ngIf="companyInput" appearance="outline">
          <input
            matInput
            type="text"
            [(ngModel)]="queryParam"
            placeholder="Type in company name"
          />
        </mat-form-field>

        <div class="filter-option">
          <p>City</p>
          <mat-checkbox
            color="primary"
            [(ngModel)]="cityInput"
            (click)="onCheckboxClicked('city')"
          ></mat-checkbox>
        </div>
        <mat-form-field *ngIf="cityInput" appearance="outline">
          <input
            matInput
            type="text"
            [(ngModel)]="queryParam"
            placeholder="Type in city name"
          />
        </mat-form-field>

        <div class="filter-option">
          <p>Gender</p>
          <mat-checkbox
            color="primary"
            [(ngModel)]="genderInput"
            (click)="onCheckboxClicked('gender')"
          ></mat-checkbox>
        </div>
        <mat-form-field *ngIf="genderInput" appearance="outline">
          <input
            matInput
            type="text"
            [(ngModel)]="queryParam"
            placeholder="Type in gender"
          />
        </mat-form-field>
        <div class="button-wrapper">
          <button (click)="applyFilter()">Apply Filter</button>
          <button (click)="resetFilter()">Reset Filter</button>
        </div>
      </mat-expansion-panel>
    </mat-card-content>

    <mat-form-field
      appearance="outline"
      class="search-form-field"
      id="search-form"
    >
      <mat-label>Search Tenant</mat-label>
      <input
        matInput
        type="search"
        [(ngModel)]="searchText"
      />
    </mat-form-field>
  </div>
</div>

<mat-card class="table-wrapper">
  <table class="user-table">
    <tr>
      <th>No.</th>
      <!-- <th>Firstname</th>
      <th>Lastname</th> -->
      <th>Name</th>
      <th>Company Description</th>
      <th>Allowed Disk Space</th>
      <th>Validity</th>
      <th>Allowed Users</th>
      <!-- <th>Zip Code</th> -->
      <th>Expenses</th>
      <th>Website</th>
      <th></th>
    </tr>
    <tr
      class="data-row"
      *ngFor="let user of users$; let i = index"
      #dataRow
    >
      <td>{{ i + 1 }}</td>
      <td>{{ user.name }}</td>
      <!-- <td>{{ user.lastname }}</td> -->
        
        <td>{{ user.companyDescription}} 
          <a (click)="openEditDesDialog(user._id)">Edit</a>
        </td>
      <!-- <td>{{ user.birthday.toDate().toISOString().split("T")[0] }}</td> -->
      <td class="send-mail">
        {{ user.allowedDiskSpace }}
        <a (click)="openEditDiskSpDialog(user._id)">Edit</a>
      </td>
      <td>{{ user.validity }}
        <a (click)="openEditValDialog(user._id)">Edit</a>
      </td>
      <td>{{ user.allowedUsersCount }}
        <a (click)="openEditUserDialog(user._id)">Edit</a>
      </td>
      <td>{{ user.expenses }}
        <a (click)="openEditExpDialog(user._id)">Edit</a>
      </td>
      <td>{{ user.website }}
        <a (click)="openEditWebDialog(user._id)">Edit</a>
      </td>
      <!-- <td><button>
        <a (click)="openEditDialog(user._id)">Edit</a>
      </button></td>
      <td><button>
        <a (click)="openAdminDialog(user._id)">Admin</a>
      </button></td> -->

      <td>
        <mat-menu #editMenu="matMenu">
          <button mat-menu-item (click)="openEditDialog(user._id)">Edit</button>
          <button mat-menu-item (click)="openAdminDialog(user._id)">Admin</button>
        </mat-menu>
      
        <button mat-icon-button [matMenuTriggerFor]="editMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </td>

      <!-- <td (click)="showUserDetail(user.id)" class="details-hover">Details</td> -->
    </tr>
  </table>
</mat-card>
<button
  (click)="openDialog()"
  mat-fab
  id="add-user-btn"
  matTooltip="Add new Tenant Account"
>
  <mat-icon>add</mat-icon>
</button>

