<h1 mat-dialog-title class="mat-dialog-title">Edit Tenant</h1>
<div mat-dialog-content class="mat-dialog-content">
  <div class="icon-section">
    <div>
      <span>Icon details</span>
    </div>
    <div>
      <h6>Company Logo</h6>
      <input type="file" id="footerFileInput" (change)="onFileSelected('companyLogo', $event)" />
      <div *ngIf="logoPreviewUrl" class="image-preview">
        <img [src]="logoPreviewUrl" alt="Image Preview" class="preview-image">
      </div>
    </div>

    <div>
      <h6>Report header</h6>
      <input type="file" id="headerFileInput" (change)="onFileSelected('reportHeader', $event)" />
      <div *ngIf="headerPreviewUrl" class="image-preview">
        <img [src]="headerPreviewUrl" alt="Image Preview" class="preview-image">
      </div>
    </div>
    <div>
      <h6>Report footer</h6>
      <input type="file" id="footerFileInput" (change)="onFileSelected('reportFooter', $event)" />
      <div *ngIf="footerPreviewUrl" class="image-preview">
        <img [src]="footerPreviewUrl" alt="Image Preview" class="preview-image">
      </div>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [disabled]="isSaving" (click)="submitData()">
    <mat-spinner *ngIf="isSaving" diameter="25"></mat-spinner>
    <span *ngIf="!isSaving">Ok</span>
  </button>
</div>
