// .mat-dialog-content {
//     padding: 1rem;
// }

// mat-form-field {
//     margin-right: 1rem;
// }

/* Add your own styles here */
.icon-section {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .icon-section div {
    background-color: #f0f0f0;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .icon-section h6 {
    margin-top: 10px;
  }
  
  input[type="file"] {
    margin-bottom: 10px;
  }
  
  .icon-section span {
    font-weight: bold;
  }

  .image-preview {
    position: relative; /* Add position relative to the container */
    width: 300px; /* Set the desired width */
    height: 200px; /* Set the desired height */
    border: 1px solid #ccc;
    padding: 5px;
  }

  .preview-image {
    width: 100%; /* Image will fit within the container width */
    height: 100%; /* Image will fit within the container height */
    object-fit: contain; /* Adjusts the image to fit within the given dimensions */
  }
  

.mat-dialog-content {
  width: 1075px; /* Adjust width as needed */
}


  