<div class="searchbar-container">
    <h2>Tenant Users</h2>
    <label for="tenantSelect">Select Tenant:</label>
    <select id="tenantSelect" [(ngModel)]="selectedTenant" (change)="onTenantChange()">
        <option *ngFor="let tenant of tenants" [ngValue]="tenant">{{ tenant.name }}</option>
    </select>
  
  </div>
  
  <mat-card class="table-wrapper">
    <div class="table-scroll">
      <table class="user-table">
        <tr>
          <th>No.</th>
          <th>Name</th>
          <!-- <th>Company Description</th> -->
          <th>Username</th>
          <th>Email</th>
          <th>Reset Device</th>
          <th>Inactive</th>
          <th>Delete User</th>
        </tr>
    
        <tr
          class="data-row"
          *ngFor="let user of filteredUsers; let i = index" 
          [ngClass]="{'inactive-icon': user.isActive===false}"
          #dataRow
        >
          <td>{{ i + 1 }}</td>
          <td class="name-sec">
            <div class="name-div">
              <div class="name-name">
                {{ user.first_name }} {{user.last_name}}
              </div>
            </div>
            </td>
            <td>
                <div class="name-dis"> {{ user.username }}</div>
              </td>
          <td class="send-mail">
            {{ user.email }}
          </td>
          <td>
            <a class="edit-link" (click)="resetDevice(user.username); $event.stopPropagation()">Reset</a>
          </td>
          <td>
            <a class="edit-link" (click)="toggleStatus(user.username,user.isActive); $event.stopPropagation()">
              <mat-icon class="edit-icon" >{{ user.isActive==null? 'toggle_off':user.isActive ? 'toggle_off' : 'toggle_on' }}</mat-icon>
            </a>
          </td>
          <td>
            <a class="edit-link" (click)="openDialog(user.username); $event.stopPropagation()">
              <mat-icon class="edit-icon">delete</mat-icon>
            </a>
          </td>
        </tr>
      </table>
  
    </div>
  </mat-card>
  